@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.menu-buttons-container {
  z-index: -1;
  overflow: visible;
}

.menu-buttons {
  position: relative;
  top: 740px;
  width: 100%;
  float: left;
}

.menu-buttons button {
  /* credit source https://codepen.io/tmrDevelops/full/VeRvKX/ */
  border: solid 2px #B7A1E7; /* can substitute for others */
  background-color: #FAF6CC;
  padding: 14px;
  color: #5E17EB;
  font-size: 24px;
  letter-spacing: 3px;
  border-radius: 8px;
  font-family: "Fredoka One", cursive;
  margin-right: 15px;
  cursor: pointer;
}

.menu-buttons button:hover {
  background-color: #aee9df;
  /* For hidden button to appear from transparent */
  -webkit-box-shadow: 4px 10px 6px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 10px 6px -8px rgba(0, 0, 0, 0.3);
  color: #5E17EB; /* same as bg color */
  border: solid 2px #B7A1E7;
}

@media only screen and (max-width: 1100px) {
  .menu-buttons button {
    font-size: 18px;
    padding: 8px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .menu-buttons button {
    float: none;
    font-size: 16px;
    padding: 6px;
    margin-top: 10px;
  }
}

.menu-buttons button:last-child {
  margin-right: 0; /* for symmetry; prevents rightmost button margin*/
}

